@font-face {
  font-family: 'OperatorMonoLig';
  src: url('/fonts/OperatorMonoLig-Book.otf');
}
// 中文 Unicode 编码范围 https://www.qqxiuzi.cn/zh/hanzi-unicode-bianma.php
// css 为 web 的数字、英文、中文设置不同的字体 https://keqingrong.cn/blog/2019-11-30-different-fonts-in-different-locales/
@font-face {
  font-family: 'LXGWWenKai';
  src: url('/fonts/LXGWWenKai-Regular.ttf');
  unicode-range: U+4E00-9FA5;
}
pre,
code,
kbd,
samp {
  font-family: 'OperatorMonoLig', 'LXGWWenKai', ui-monospace, SFMono-Regular, 'SF Mono', Menlo,
    Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
.VPNavBarSearch {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .VPNavBarSearch {
    flex-grow: 1;
    padding-left: 24px;
  }
}
@media (min-width: 960px) {
  .VPNavBarSearch {
    padding-left: 32px;
  }
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand);
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-text-color: var(--vp-c-text-1);
  --docsearch-muted-color: var(--vp-c-text-2);
  --docsearch-searchbox-shadow: none;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-key-gradient: transparent;
  --docsearch-key-shadow: none;
  --docsearch-modal-background: var(--vp-c-bg-soft);
  --docsearch-footer-background: var(--vp-c-bg);
}

.dark .DocSearch {
  --docsearch-modal-shadow: none;
  --docsearch-footer-shadow: none;
  --docsearch-logo-color: var(--vp-c-text-2);
  --docsearch-hit-background: var(--vp-c-bg-mute);
  --docsearch-hit-color: var(--vp-c-text-2);
  --docsearch-hit-shadow: none;
}

.DocSearch-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 55px;
  background: transparent;
  transition: border-color 0.25s;
}

.DocSearch-Button:hover {
  background: transparent;
}

.DocSearch-Button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.DocSearch-Button:focus:not(:focus-visible) {
  outline: none !important;
}

@media (min-width: 768px) {
  .DocSearch-Button {
    justify-content: flex-start;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 10px 0 12px;
    width: 100%;
    height: 40px;
    background-color: var(--vp-c-bg-alt);
  }

  .DocSearch-Button:hover {
    border-color: var(--vp-c-brand);
    background: var(--vp-c-bg-alt);
  }
}

.DocSearch-Button .DocSearch-Button-Container {
  display: flex;
  align-items: center;
}

.DocSearch-Button .DocSearch-Search-Icon {
  position: relative;
  width: 16px;
  height: 16px;
  color: var(--vp-c-text-1);
  fill: currentColor;
  transition: color 0.5s;
}

.DocSearch-Button:hover .DocSearch-Search-Icon {
  color: var(--vp-c-text-1);
}

@media (min-width: 768px) {
  .DocSearch-Button .DocSearch-Search-Icon {
    top: 1px;
    margin-right: 8px;
    width: 14px;
    height: 14px;
    color: var(--vp-c-text-2);
  }
}

.DocSearch-Button .DocSearch-Button-Placeholder {
  display: none;
  margin-top: 2px;
  padding: 0 16px 0 0;
  font-size: 13px;
  font-weight: 500;
  color: var(--vp-c-text-2);
  transition: color 0.5s;
}

.DocSearch-Button:hover .DocSearch-Button-Placeholder {
  color: var(--vp-c-text-1);
}

@media (min-width: 768px) {
  .DocSearch-Button .DocSearch-Button-Placeholder {
    display: inline-block;
  }
}

.DocSearch-Button .DocSearch-Button-Keys {
  display: none;
  min-width: auto;
}

@media (min-width: 768px) {
  .DocSearch-Button .DocSearch-Button-Keys {
    display: flex;
    align-items: center;
  }
}

.DocSearch-Button .DocSearch-Button-Key {
  display: block;
  margin: 2px 0 0 0;
  border: 1px solid var(--vp-c-divider);
  border-right: none;
  border-radius: 4px 0 0 4px;
  padding-left: 6px;
  min-width: 0;
  width: auto;
  height: 22px;
  line-height: 22px;
  font-family: var(--vp-font-family-base);
  font-size: 12px;
  font-weight: 500;
  transition: color 0.5s, border-color 0.5s;
}

.DocSearch-Button .DocSearch-Button-Key + .DocSearch-Button-Key {
  border-right: 1px solid var(--vp-c-divider);
  border-left: none;
  border-radius: 0 4px 4px 0;
  padding-left: 2px;
  padding-right: 6px;
}

.dark .DocSearch-Footer {
  border-top: 1px solid var(--vp-c-divider);
}

.DocSearch-Form {
  border: 1px solid var(--vp-c-brand);
  background-color: var(--vp-c-white);
}

.dark .DocSearch-Form {
  background-color: var(--vp-c-bg-mute);
}

/*flex-search logo 样式 */
/* .flex-logo {
  display: none;
} */

.blog-search .nav-search-btn-wait .search-tip {
  padding: 0 20px 0 10px;
}

/* 滚动条整体 */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* 两个滚动条交接处 -- x轴和y轴 */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.15);
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 滚动条两端按钮 */
::-webkit-scrollbar-button {
  display: none;
}

:root {
  --vp-code-block-bg: #f6f6f7;
  --vp-code-block-divider-color: rgba(60, 60, 67, 0.12);
  --vp-code-line-number-color: var(--vp-c-text-light-3);
  --vp-code-copy-code-bg: #e6e6e6;
  --vp-code-copy-code-hover-bg: #e6e6e6;
  --vp-code-copy-code-active-text: var(--vp-c-text-light-2);
}

.vp-doc [class*='language-'] {
  font-size: 18px;
  > span.lang {
    color: var(--vp-c-text-light-3);
  }
}
.vp-code-group .tabs label {
  color: var(--vp-c-text-light-3);
}
.vp-code-group input:checked + label {
  color: var(--vp-c-text-light-2);
}

.dark {
  --vp-code-block-bg: #292b30;
  --vp-code-block-divider-color: #000;
  --vp-code-line-number-color: var(--vp-c-text-dark-3);
  --vp-code-copy-code-bg: var(--vp-code-block-bg-light);
  --vp-code-copy-code-hover-bg: var(--vp-code-block-bg-light);
  --vp-code-copy-code-active-text: var(--vp-c-text-dark-2);

  .vp-doc [class*='language-'] {
    > span.lang {
      color: var(--vp-c-text-dark-3);
    }
  }
  .vp-code-group .tabs label {
    color: var(--vp-c-text-dark-3);
  }
  .vp-code-group input:checked + label {
    color: var(--vp-c-text-dark-2);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
  }
}

.VPHero {
  .clip {
    background-image: -webkit-linear-gradient(
      0deg,
      #149fca,
      #07b79c,
      #7a0bda,
      #5b3eea,
      #149fca
    ) !important;
    background-size: 500%;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    animation: scroll-text 15s infinite linear;
  }
  .name {
    font-size: 32px !important;
  }
  .text {
    font-size: 16px !important;
  }

  @media (min-width: 640px) {
    .name {
      line-height: 64px !important;
      font-size: 56px !important;
    }
    .text {
      line-height: 56px !important;
      font-size: 40px !important;
    }
  }
  @media (min-width: 960px) {
    .name {
      line-height: 80px !important;
      font-size: 72px !important;
      font-weight: 900 !important;
    }
    .text {
      line-height: 64px !important;
      font-size: 56px !important;
    }
  }
}
@keyframes scroll-text {
  from {
    background-position: 0px;
  }

  to {
    background-position: -500%;
  }
}
